<body class="lp-pom-body"><!-- lp:insertions start body:before -->
 
  <div class="lp-element lp-pom-root" id="lp-pom-root">
    <div id="lp-pom-root-color-overlay"></div>
    <div class="lp-positioned-content">
      <div class="lp-element lp-pom-image" id="lp-pom-image-535">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/64a399f7-recurso13_100000005e01f000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/64a399f7-recurso13_100000005e01f000000000.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/64a399f7-recurso13_107g01804o018000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/64a399f7-recurso13_100000005f01f000000000.png">
        </div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-539" style="height: auto;">
        <div class="lplh-45" style="text-align: right;"><span style="color: rgb(255, 255, 255);"><span
              style="font-family: Arial, sans-serif;"><span
                style="font-size: 40px; font-weight: 400; font-style: normal;"><strong>Encuentra
                  en</strong></span></span></span></div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-542" style="height: auto;">
        <div class="lplh-58" style="color: rgb(135, 126, 97); line-height: 115px;"><span style="font-size: 85px;"><span
              style="color: rgb(254, 254, 254);"><span
                style="font-family: Arial, sans-serif; font-weight: 400; font-style: normal;"><strong>COLMÉDICA,</strong></span></span></span>
        </div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-606" style="height: auto;">
        <p class="lplh-18" style="text-align: center;"><span style="font-size: 12px;"><span
              style="color: rgb(255, 255, 255); text-align: right;">Aplican términos y condiciones
              contractuales.</span></span></p>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-607" style="height: auto;">
        <p class="lplh-18" style="text-align: center; line-height: 15px;"><span style="font-size: 12px;"><span
              style="color: rgb(255, 255, 255); text-align: right;">Todos los derechos reservados. Colmédica Medicina
              Prepagada es una empresa de prestación de<br>&nbsp; &nbsp; &nbsp; servicios de salud en Colombia que
              cuenta con amplia trayectoria y respaldo, ofreciendo a sus<br>&nbsp; &nbsp; &nbsp; usuarios una amplia
              variedad de planes de salud, con alta calidad y servicio. Todos los precios en<br>&nbsp; &nbsp; &nbsp;
              pesos colombianos</span></span></p>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-674" style="height: auto;">
        <div class="lplh-45" style="line-height: 45px;"><span style="color: rgb(255, 255, 255);"><span
              style="font-family: Arial, sans-serif;"><span
                style="font-size: 40px; font-weight: 400; font-style: normal;"><strong>LOS BENEFICIOS&nbsp;</strong>que
                tus</span></span></span></div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-675" style="height: auto;">
        <div class="lplh-45" style="line-height: 58px;"><span style="color: rgb(255, 255, 255);"><span
              style="font-family: Arial, sans-serif;"><span
                style="font-size: 40px; font-weight: 400; font-style: normal;">colaboradores<strong>&nbsp;necesitan.</strong></span></span></span>
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-676">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/c05e849e-trg_10f306b000000000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c05e849e-trg_10f306b000000000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c05e849e-trg.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c05e849e-trg_108e03i000000000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c05e849e-trg_10gs070000000000000000.png"
            data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c05e849e-trg.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c05e849e-trg_10f306b000000000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c05e849e-trg.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-677">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/9eddd851-personw_109h0em000000000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/9eddd851-personw_109h0em000000000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/9eddd851-personw.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/9eddd851-personw_10770b3000000000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/9eddd851-personw.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/9eddd851-personw_109h0em000000000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/9eddd851-personw.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-box" id="lp-pom-box-678">
        <div id="lp-pom-box-678-color-overlay"></div>
        <div class="lp-element lp-pom-text nlh" id="lp-pom-text-679" style="height: auto;">
          <p style="line-height: 42px;"><span
              style="font-weight: 400; font-family: Arial, sans-serif; font-size: 35px; color: rgb(73, 161, 231);"><strong>¿Por
                qué elegirnos</strong></span><span style="font-size: 35px;"><strong><span
                  style="font-weight: 400; font-family: Arial, sans-serif; color: rgb(255, 255, 255);">&nbsp;</span></strong></span><span
              style="font-weight: 400; font-family: Arial, sans-serif; font-size: 35px; color: rgb(35, 84, 158);"><strong>como
                la medicina prepagada de tu compañía?</strong></span></p>
        </div>
        <div class="lp-element lp-pom-text nlh" id="lp-pom-text-680" style="height: auto;">
          <p style="line-height: 35px;"><span
              style="font-weight: 400; font-family: Arial, sans-serif; font-size: 36px; color: rgb(73, 161, 231);">Por
              todos estos beneficios:</span><span
              style="font-weight: 400; font-family: Arial, sans-serif; font-size: 28px; color: rgb(73, 161, 231);">
            </span></p>
        </div>
      </div><a class="lp-element lp-pom-button" id="lp-pom-button-681"
        href="https://lp.colmedica.com/empresas/#lp-pom-box-697" target="_self"><span class="label"><strong>Te
            asesoramos</strong></span></a>
      <div class="lp-element lp-pom-image" id="lp-pom-image-682">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/c1687e4f-1atencion_104y042000000000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c1687e4f-1atencion_104y042000000000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c1687e4f-1atencion.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c1687e4f-1atencion_104y042000000000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c1687e4f-1atencion.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c1687e4f-1atencion_104y042000000000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c1687e4f-1atencion.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-683">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/d0456267-2atencionfff_105c03v05903v001000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d0456267-2atencionfff_105c03v05903v001000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d0456267-2atencionfff_100000009n073002000000.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d0456267-2atencionfff_104q03h04q03e001000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d0456267-2atencionfff_109g06y09g06s002000000.png"
            data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d0456267-2atencionfff_100000009t06x002000000.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d0456267-2atencionfff_105c03v05903v001000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d0456267-2atencionfff_100000009n073002000000.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-684">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/7f57b488-3atencion_103v046000000000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/7f57b488-3atencion_103v046000000000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/7f57b488-3atencion.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/7f57b488-3atencion_103v046000000000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/7f57b488-3atencion.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/7f57b488-3atencion_103v046000000000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/7f57b488-3atencion.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-685">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/480b3dbb-4atencion_104f03z04f03y000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/480b3dbb-4atencion_104f03z04f03y000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/480b3dbb-4atencion_100000008o07q000000000.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/480b3dbb-4atencion_104f03z04f03y000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/480b3dbb-4atencion_100000008o07q000000000.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/480b3dbb-4atencion_104f03z04f03y000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/480b3dbb-4atencion_100000008o07q000000000.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-694">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/2f80c47b-5atencion_104s03u04r03u000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/2f80c47b-5atencion_104s03u04r03u000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/2f80c47b-5atencion_100000008v075000000000.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/2f80c47b-5atencion_104s03u04r03u000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/2f80c47b-5atencion_100000008v075000000000.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/2f80c47b-5atencion_104s03u04r03u000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/2f80c47b-5atencion_100000008v075000000000.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-695">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/dbd4ee73-6atencion_104i049000000000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/dbd4ee73-6atencion_104i049000000000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/dbd4ee73-6atencion.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/dbd4ee73-6atencion_104i049000000000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/dbd4ee73-6atencion.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/dbd4ee73-6atencion_104i049000000000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/dbd4ee73-6atencion.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-696" style="height: auto;">
        <p style="line-height: 45px;"><span
            style="font-weight: 400; font-family: Arial, sans-serif; font-size: 20px; color: rgb(255, 255, 255);"><strong>Aplican
              condiciones</strong></span></p>
      </div>
      <div class="lp-element lp-pom-box" id="lp-pom-box-697">
        <div id="lp-pom-box-697-color-overlay"></div>
        <div class="lp-element lp-pom-form has-axis" id="lp-pom-form-529">
          <form action="https://lp.colmedica.com/fsn?pageId=ee803f82-e2bf-47a7-bc6e-e73cf78aceef&amp;variant=c"
            method="POST"><input type="hidden" name="pageId" value="ee803f82-e2bf-47a7-bc6e-e73cf78aceef"><input
              type="hidden" name="pageVariant" value="c">
            <div class="fields">
              <div class="lp-pom-form-field single-line-text" id="container_nombre_completo"><input id="nombre_completo"
                  name="nombre_completo" type="text" class="ub-input-item single text form_elem_nombre_completo"
                  placeholder="Nombre completo" required=""></div>
              <div class="lp-pom-form-field single-line-text" id="container_NIT"><input id="NIT" name="NIT" type="text"
                  class="ub-input-item single text form_elem_NIT" placeholder="NIT" required=""></div>
              <div class="lp-pom-form-field single-line-text" id="container_teléfono"><input id="teléfono"
                  name="teléfono" type="tel" class="ub-input-item single text form_elem_teléfono" placeholder="Teléfono"
                  required="" pattern="^\+?( ?[\(]?[\-]?[0-9][\)]?){6,13}$"></div>
              <div class="lp-pom-form-field email" id="container_email"><input id="email" name="email" type="email"
                  class="ub-input-item single text form_elem_email" placeholder="Email" required=""
                  pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9_\-]+[.]+[a-zA-Z0-9\-.]{2,61}$"></div>
              <div class="lp-pom-form-field single-line-text" id="container_ciudad"><input id="ciudad" name="ciudad"
                  type="text" class="ub-input-item single text form_elem_ciudad" placeholder="Ciudad" required=""></div>
              <div class="lp-pom-form-field checkbox-group multi-group" id="container_autorizacion_de_datos">
                <div class="ub-input-item input-wrap optionsList" id="group_autorizacion_de_datos">
                  <div class="option" id="ub-option-autorizacion_de_datos-item-0"><input type="checkbox"
                      id="autorizacion_de_datos_autorizo_el_tratamiento" name="autorizacion_de_datos"
                      value="Autorizo el tratamiento"
                      class="checkbox form-builder-checkbox-input form_elem_autorizacion_de_datos"
                      data-required=""><label for="autorizacion_de_datos_autorizo_el_tratamiento"
                      class="opt-label form-builder-checkbox-label"><span class="label-style">Autorizo el
                        tratamiento</span></label></div>
                </div>
              </div><input id="ls" name="ls" type="hidden" class="hidden" value=""><input id="utm_content"
                name="utm_content" type="hidden" class="hidden" value=""><input id="utm_medium" name="utm_medium"
                type="hidden" class="hidden" value=""><input id="utm_source" name="utm_source" type="hidden"
                class="hidden" value=""><input id="utm_term" name="utm_term" type="hidden" class="hidden"
                value=""><input id="utm_campaign" name="utm_campaign" type="hidden" class="hidden" value="">
            </div><button class="lp-element lp-pom-button" id="lp-pom-button-530" type="submit"><span
                class="label"><strong>Quiero ser contactado</strong></span></button>
          </form>
        </div>
        <div class="lp-element lp-pom-text nlh" id="lp-pom-text-698" style="height: auto;">
          <p style="line-height: 45px;"><span
              style="font-weight: 400; font-family: Arial, sans-serif; font-size: 48px; color: rgb(35, 84, 158);"><strong>Déjanos
                tus datos y conoce</strong></span></p>
        </div>
        <div class="lp-element lp-pom-text nlh" id="lp-pom-text-701" style="height: auto;">
          <p style="line-height: 45px;"><span
              style="font-weight: 400; font-family: Arial, sans-serif; font-size: 48px; color: rgb(255, 255, 255);"><strong><span
                  style="background-color: rgb(92, 198, 197);">Todas las opciones</span></strong></span></p>
        </div>
        <div class="lp-element lp-pom-text nlh" id="lp-pom-text-711" style="height: auto;">
          <p style="line-height: 14px;"><span style="font-size: 16px;">&nbsp;</span><span style="font-size: 12px;"><span
                style="color: rgb(199, 200, 201); background-color: rgb(255, 255, 255); text-decoration: none;">de datos
                personales</span></span><span style="font-size: 15px;"><span
                style="color: rgb(199, 200, 201); background-color: rgb(255, 255, 255);">&nbsp;</span></span><span
              style="font-size: 16px;">&nbsp;</span></p>
        </div><a class="lp-element lp-pom-button" id="lp-pom-button-743"
          href="https://terminos-colmedica.s3.us-east-2.amazonaws.com/index.html"
          target="_blank"><span class="label">Haz clic aquí conoce el tratamiento de datos.</span></a>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-702">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/64a399f7-recurso13_100000005e01f000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/64a399f7-recurso13_106701103v011000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/64a399f7-recurso13_100000005e01f000000000.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/64a399f7-recurso13_107g01804p018000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/64a399f7-recurso13_100000005g01f000000000.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/64a399f7-recurso13_106701103v011000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/64a399f7-recurso13_100000005e01f000000000.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-708" style="height: auto;">
        <p class="lplh-18" style="text-align: center;"><span style="font-size: 16px;"><span
              style="color: rgb(255, 255, 255); text-align: right;"><strong>Ⓒ 2024 Colmédica Medicina Prepagada S.A. I
                Todos los derechos reservados</strong></span></span></p>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-709">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/e467daa3-pata-legales_1050026000000000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e467daa3-pata-legales_1050026000000000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e467daa3-pata-legales.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e467daa3-pata-legales_1050026000000000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e467daa3-pata-legales.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e467daa3-pata-legales_1050026000000000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e467daa3-pata-legales.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-732">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/c8349fa5-7atencion_104i04204i03v000003000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c8349fa5-7atencion_104i04204i03v000003000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c8349fa5-7atencion_109008409007q000006000.png"
            data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c8349fa5-7atencion_100000009g084000006000.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c8349fa5-7atencion_104i04204i03v000003000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c8349fa5-7atencion_109008409007q000006000.png"
            data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c8349fa5-7atencion_100000009g084000006000.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c8349fa5-7atencion_104i04204i03v000003000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c8349fa5-7atencion_109008409007q000006000.png 2x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/c8349fa5-7atencion_100000009g084000006000.png 3x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-733">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/d453b39b-8atencion_104904k000000000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d453b39b-8atencion_104904k000000000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d453b39b-8atencion.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d453b39b-8atencion_104904k000000000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d453b39b-8atencion.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d453b39b-8atencion_104904k000000000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/d453b39b-8atencion.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-734">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/eed63c9a-9atencion_104u04e000000000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/eed63c9a-9atencion_104u04e000000000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/eed63c9a-9atencion.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/eed63c9a-9atencion_104u04e000000000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/eed63c9a-9atencion.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/eed63c9a-9atencion_104u04e000000000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/eed63c9a-9atencion.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-735">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/1ae72787-10atencion_104u03t000000000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/1ae72787-10atencion_104u03t000000000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/1ae72787-10atencion.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/1ae72787-10atencion_104u03t000000000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/1ae72787-10atencion.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/1ae72787-10atencion_104u03t000000000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/1ae72787-10atencion.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-736">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/e419f4df-11atencion_104u03y04u03t000002000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e419f4df-11atencion_104u03y04u03t000002000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e419f4df-11atencion_1000000096078000004000.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e419f4df-11atencion_104u03y04u03t000002000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e419f4df-11atencion_1000000096078000004000.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e419f4df-11atencion_104u03y04u03t000002000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/e419f4df-11atencion_1000000096078000004000.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-737">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="../assets/Images/10c2a8d1-12atencionff_105t03l05t03c000000000.png" alt=""
            data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/10c2a8d1-12atencionff_105t03l05t03c000000000.png"
            data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/10c2a8d1-12atencionff_10000000am062000000000.png"
            data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/10c2a8d1-12atencionff_105t03l05t03c000000000.png"
            data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/10c2a8d1-12atencionff_10000000am062000000000.png"
            srcset="//d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/10c2a8d1-12atencionff_105t03l05t03c000000000.png 1x, //d9hhrg4mnvzow.cloudfront.net/lp.colmedica.com/empresas/10c2a8d1-12atencionff_10000000am062000000000.png 2x">
        </div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-738" style="height: auto;">
        <p class="lplh-18" style="text-align: center; line-height: 15px;"><span style="font-size: 12px;"><span
              style="color: rgb(255, 255, 255); text-align: right;">Los Centros Médicos y de Diagnóstico Especializado
              Colmédica son operados por UMD.</span></span></p>
      </div>
    </div>
    <div class="lp-element lp-pom-block" id="lp-pom-block-527">
      <div id="lp-pom-block-527-color-overlay"></div>
      <div class="lp-pom-block-content"></div>
    </div>
    <div class="lp-element lp-pom-block" id="lp-pom-block-548">
      <div id="lp-pom-block-548-color-overlay"></div>
      <div class="lp-pom-block-content"></div>
    </div>
    <div class="lp-element lp-pom-block" id="lp-pom-block-579">
      <div id="lp-pom-block-579-color-overlay"></div>
      <div class="lp-pom-block-content"></div>
    </div>
    <div class="lp-element lp-pom-block" id="lp-pom-block-608">
      <div id="lp-pom-block-608-color-overlay"></div>
      <div class="lp-pom-block-content"></div>
    </div>
  </div><!-- lp:insertions start body:after -->

  
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMRHP6X" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- lp:insertions end body:after -->
  <iframe allow="join-ad-interest-group" data-tagging-id="AW-392153587/RRJICNag_qIDEPOT_7oB"
    data-load-time="1714400998637" height="0" width="0" src="../assets/Images/392153587.html"
    style="display: none; visibility: hidden;"></iframe>
  <div class="backdrop__3tG5Hl"></div>

  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=606811127725505&amp;ev=PageView&amp;noscript=1"></noscript><iframe
    allow="join-ad-interest-group" data-tagging-id="AW-10977280447/cecjCIuZuNoDEL-DsPIo" data-load-time="1714400999987"
    height="0" width="0" src="../assets/Images/10977280447.html"
    style="display: none; visibility: hidden;"></iframe><iframe allow="join-ad-interest-group"
    data-tagging-id="AW-10977280447" data-load-time="1714400999990" height="0" width="0"
    src="../assets/Images/10977280447(1).html" style="display: none; visibility: hidden;"></iframe>
</body>